body {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* footer */
main {
  min-height: 80vh;

}

/* 1rem top and bottom */
h3 {
  padding: 1rem 0;
}

/* space b/w star */
.rating span {
  margin: 0.1rem;
}

/* Alert */

.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}

input,
select,
textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}